/* GLOBAL */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* ========= HEADER ======== */
/* Navbar */

.myDropdown {
  position: absolute;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(246, 255, 255);
  z-index: 1;
  height: 50vh;
  width: 576px;
}
.show {
  display: flex;
}
.active {
  background-color: #f8f9fa !important;
  border-left: 5px solid blue !important;
}
.tab {
  float: left;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  width: 300px;
}
.tab button {
  display: block;
  border: none;
  border-radius: none;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100%;
}
.tabcontent {
  float: left;
  padding: 2rem;
}

/* ========== MAIN ========== */
main {
  flex-grow: 1;
}

/* ======== FOOTER ======== */
footer {
  background-color: #1b273d;
  color: #8d939e;
}

footer h4 {
  color: white;
  padding: 5px;
}

footer .social-icon i {
  color: white;
  font-size: 2rem;
  margin-right: 15px;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #8d939e;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

.copyright {
  margin: 0;
  background-color: #131d30;
}

/* Mobile nav */
.mobile-nav a {
  text-decoration: none;
  color: black;
}

/* BOOTSTRAP OVERRIDE */
.btn-success {
  background-color: rgb(26, 181, 26);
}
