/* GLOBAL */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.text-price {
  color: rgb(210, 63, 87);
}

/* ========= HEADER ======== */
/* Navbar */

.myDropdown {
  position: absolute;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgb(246, 255, 255);
  z-index: 1;
  height: 50vh;
  width: 576px;
}
.show {
  display: flex;
}

.tab {
  float: left;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  width: 300px;
}
.tab button {
  display: block;
  border: none;
  border-radius: none;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100%;
}
.tabcontent {
  float: left;
  padding: 2rem;
}

/* ========== MAIN ========== */
main {
  flex-grow: 1;
}

/* FeaturedCategories */
#featuredCategories {
  background-color: #f6f9fc;
}
.f_cat .card {
  height: 130px;
}
.f_cat img {
  margin: 0 auto;
}

/* FeaturedProducts */
#featuredProducts {
  background-color: #f6f9fc;
}

/* Newsletter */
.newsletter form {
  width: 400px;
}

/* ======== FOOTER ======== */
footer .navbar-brand img {
  background: #f9fbff;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: #1b273d;
  color: #8d939e;
}

footer h4 {
  color: white;
  padding: 5px;
}
footer .social-icon {
  background: #131d30;
  border-radius: 50%;
  display: inline-flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .social-icon:hover {
  background: white;
  color: #131d30;
}


footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #8d939e;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}

.copyright {
  margin: 0;
  background-color: #131d30;
}

/* Mobile nav */
.mobile-nav a {
  text-decoration: none;
  color: black;
}

/* BOOTSTRAP OVERRIDE */
.btn-success {
  background-color: rgb(26, 181, 26);
}
.card {
  border: none;
  outline: none;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}

.btn-primary {
  border: #205d56;
  background-color: #205d56;
}
.btn-primary:hover {
  background-color: #16443f;
}
.btn-primary:active {
  background-color: #16443f !important;
}

.pagination > li > a {
  border: none !important;
  box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;

}