{% load static %}
<footer>
  <div class="container">
    <div class="row g-5 py-5">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/logo.png' %}" alt="logo" height="50px"
          width="140px" />
        </a>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor libero id et, in gravida. Sit diam duis mauris nulla cursus. Erat et lectus vel ut sollicitudin elit at amet.</p>
   
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          About Us
        </h4>
        <ul style="line-height: 1.8;">
          <li><i class="bi bi-caret-right-fill"></i></i><a href="">Careers</a></li>
          <li><i class="bi bi-caret-right-fill"></i><a href="">Our Stores</a></li>
          <li><i class="bi bi-caret-right-fill"></i><a href="">Our Cares</a></li>
          <li><i class="bi bi-caret-right-fill"></i><a href="">Terms & Conditions</a></li>
          <li><i class="bi bi-caret-right-fill"></i><a href="">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>Customer Care</h4>
        <ul>
          <li><a href="">Help Center</a></li>
          <li><a href="">How to Buy</a></li>
          <li><a href="">Track Your Order</a></li>
          <li><a href="">Corporate & Bulk Purchasing</a></li>
          <li><a href="">Returns & Refunds</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <h4>
          Contact Us
        </h4>
        <ul>
          <li>70 Washington Square South, New York, NY 10012, United States</li>
          <li> Email: uilib.help@gmail.com</li>
          <li> Phone: +1 1123 456 780</li>
          <li>
            <a href="#" title="facebook"><span class="social-icon"><i class="bi bi-facebook"></i></span></a>
            <a href="#" title="twitter"><span class="social-icon"><i class="bi bi-twitter"></i></span></a>
            <a href="#" title="instagram"><span class="social-icon"><i class="bi bi-instagram"></i></span></a>
            <a href="#" title="youtube"><span class="social-icon"><i class="bi bi-youtube"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-secondary copyright py-3">&copy; 2023 Classy | All Rights Reserved.</p>
</footer>