{% extends 'base.html' %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'user/css/styles.css' %}">
{% endblock %}
    
<!-- Content Block -->
{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-md-4 col-lg-3 d-none d-md-block">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-secondary">Dashboard</p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="{% url 'user:orders' %}" class="nav-link text-primary"><i class="bi bi-bag-check-fill"></i> Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link disabled"><i class="bi bi-bag-heart-fill"></i> Wishlist</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link disabled"><i class="bi bi-headset"></i> Support Tickets</a>
                                </li>
                            </ul>
                            <br />
                            <p class="text-secondary">Account Settings</p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="" class="nav-link text-primary"><i class="bi bi-person-fill"></i> Profile Info</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link disabled"><i class="bi bi-geo-alt-fill"></i> Addresses</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link disabled"><i class="bi bi-credit-card-fill"></i> Payment Methods</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    {% block subContent %}

                    {% endblock %}
                    
                </div>
            </div>

            <!-- Offcanvas -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                       User
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>Dashboard</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'user:orders' %}" class="nav-link text-primary"><i class="bi bi-bag-check-fill"></i> Orders</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link disabled"><i class="bi bi-bag-heart-fill"></i> Wishlist</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link disabled"><i class="bi bi-headset"></i> Support Tickets</a>
                        </li>
                    </ul>
                    <br />
                    <p>Account Settings</p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{% url 'user:profile' %}" class="nav-link text-primary"><i class="bi bi-person-fill"></i> Profile Info</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link disabled"><i class="bi bi-geo-alt-fill"></i> Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link disabled"><i class="bi bi-credit-card-fill"></i> Payment Methods</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}
