{% extends 'user/layout.html' %} 


<!-- Title Block -->
{% block title %}
  Profile
{% endblock %} 

<!-- Content Block -->
{% block subContent %}
<div class="d-flex justify-content-between mb-3">
    <h2><i class="fa-solid fa-bag-shopping"></i> My Orders</h2>
    <button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars"></i>
    </button>
  </div>
<h1>Profile</h1>

{% endblock %}