{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content%}
{% load static %}
<section id="hero" class="py-5">
<div class="container">
  <div class="row">
    <div class="col-12 m-auto col-md-6">
      <h1>50% Off For Your First Shopping</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis consequat eu, quam etiam at quis ut convalliss.</p>
      <button type="button" class="btn btn-primary">Buy Now</button>
    </div>
    <div class="col-12 col-md-6">
    <img src="{% static 'img/nike-black.png' %}" alt="">
    </div>
  </div>
 
</div>
</section>
<section id="featuredCategories" class="f_cat py-5">
    <h2 class="text-center">Featured Category</h2>
    <p class="text-center text-secondary">Get Your Desired Product from Featured Category!<p>
  <div class="container">
    <div class="row g-3">
        {% for category in categories %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="card text-center p-3">
          <img src="{% static 'img/cat.png' %}" height="50px" width="50px" alt="" />
          <p class="m-2">{{category.name}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="featuredProducts" class="py-5">
    <h2 class="text-center">Featured Product</h2>
    <p class="text-center text-secondary">Check & Get Your Desired Product!
        <p>
  <div class="container">
    <div class="row g-4">
        {% for product in products %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card custom-card">
            <img src="{{ product.image.url }}" class="p-2" alt="{{ product.name }}" height="200px" />
            <div class="card-body">
             
              <h3 class="fs-6"><a href="{% url 'product:details' product_id=product.id %}" class="text-primary text-decoration-none">{{ product.name }}</a></h3>
              <p class="text-price fs-6"><b>$</b> {{ product.price }} <del class="text-secondary">  ${{product.price}}</del></p>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="newsletter" class="py-5 text-center">
    <h2>Subscribe To Our Newsletter</h2>
    <p class=" text-secondary">and receive $20 coupon for the first Shopping</p>

    <div class="d-flex justify-content-center newsletter">
      <form action="">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="email" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
       
      
    </form>
    </div>
     
    
</section>
{% endblock %}
