{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content%}
<section id="featuredCategories" class="py-5">
    <h2 class="text-center">Featured Category</h2>
    <p class="text-center">Get Your Desired Product from Featured Category!<p>
  <div class="container">
    <div class="row g-4">
        {% for category in categories %}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <div class="card">
          <img src="" alt="" />
          <p>{{category.name}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="featuredProducts" class="py-5">
    <h2 class="text-center">Featured Product</h2>
    <p class="text-center">Check & Get Your Desired Product!
        <p>
  <div class="container">
    <div class="row g-4">
        {% for product in products %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card custom-card">
            <img src="{{ product.image.url }}" class="p-2" alt="{{ product.name }}" height="200px" />
            <div class="card-body">
              <h5 class="text-warning"><b>Price:</b> {{ product.price }}</h5>
              <a href="{{ product.id }}">{{ product.name }}</a>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="newsletter">
    <h2>Subscribe To Our Newsletter</h2>
    <p>and receive $20 coupon for the first Shopping</p>
    <form action="">
        {% csrf_token %}
        <input type="text" name="email" placeholder="Enter Email">
        <button type="submit">Subscribe</button>
    </form>
</section>
{% endblock %}
