<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    {% for product in products %}
    <div>
      <img src="{{product.image.url}}" alt="" />
      <h3>{{product.name}}</h3>
      <p>{{product.description}}</p>
      <h5><b>price: </b>{{product.price}}</h5>
      <button>Buy</button>
    </div>
    {% endfor %}
  </body>
</html>
