{% extends 'base.html' %}


<!-- Title Block -->
{% block title %}
  Product Details
{% endblock %} 



<!-- Extra CSS -->
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'product/css/styles.css' %}">
{% endblock %}

<!-- Main Content-->
{% block content %}
  <section class="py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-md-6">
          <div class="d-flex" style="justify-content: center">
            <img height="350px" maxWidth="350px" src="{{ product.image.url }}" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h3>{{ product.name }}</h3>
      
          <p>
            <strong>Category:</strong> {{ product.category }}
          </p>
          <p>
            <strong>Brand:</strong> HP
          </p>
          <p>
            <strong>Description:</strong> {{ product.description }}
          </p>
          <h5><strong>price:</strong>$ {{ product.price }}</h5>
      
          {% if product.stock == 0 %}
          <h3 class="text-danger mt-4">Out of Stock</h3>
          {% else %}
          <p class="text-warning"><strong>Stock: </strong>{{product.stock}}</p>

          {% if cart_item %}
          <div class="cart-item mt-4">
            <div class="quantity-controls" data-cart-item-id="{{ cart_item.id }}">
              <button class="btn btn-primary decrease-btn">-</button>
              <span class="quantity">{{ cart_item.quantity }}</span>
              <button class="btn btn-primary increase-btn">+</button>
            </div>
          </div>
          {% else %}


          <form action="/user/cart/add/{{ product.id }}/" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary mt-4" value="Add To Cart">
          </form>
          {% endif %}
       {% endif %}
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-12">
          <a href="#description" class="btn btn-light active">description</a>
          <a href="#additional" class="btn btn-light">Additional Information</a>
          <a href="#reviews" class="btn btn-light">Reviews</a>
          <div id="description" class="py-4">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, minima nemo, expedita ipsum numquam aliquid repudiandae iste quaerat distinctio recusandae cum placeat dicta tempore repellat, asperiores ratione inventore dolor. Laborum, veniam pariatur illum officiis aspernatur ratione. Consectetur quae nostrum cum nulla porro fuga ipsa id quas? Illo repellat deserunt nobis quos, molestias vitae fugiat veritatis dignissimos reprehenderit expedita sunt consequatur, facere itaque quas! A quidem ratione temporibus, dolor ea enim sunt, dolorum voluptates soluta architecto mollitia itaque illo vero rem totam nisi hic delectus porro nobis non earum laboriosam at. Hic neque minus necessitatibus soluta, quam in at nam illum.</p>
          </div>

          <p id="additional">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus quibusdam architecto quos aspernatur numquam dolor necessitatibus quod aperiam sequi natus modi, quia qui, voluptas reiciendis mollitia magnam ipsum obcaecati. Impedit, odio esse quo, eius aspernatur quis dolores dolore eum nobis iste inventore unde, modi error. Ea labore, optio odio rem dolor est minus dicta in. Incidunt, laudantium? Voluptas placeat, corrupti rem consequatur obcaecati similique eligendi architecto ducimus. Dignissimos, molestias perspiciatis id ex, hic quaerat veniam, velit facere assumenda illo quas quo voluptas provident laborum odio. Nulla, blanditiis? Ipsam, quibusdam neque sapiente expedita veritatis aperiam praesentium sed nemo saepe totam aspernatur!</p>
          <div id="reviews">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, odio.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, qui.</p>
          </div>
        </div>
      </div>
      <div class="row py-5">
        <h3>Related Products</h3>
        {% if products %}
          {% for product in products %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="card custom-card">
                <img src="{{ product.image.url }}" class="p-2" alt="{{ product.name }}" height="200px" />
                <div class="card-body">
                  <h4 class="card-title">{{ product.name }}</h4>
                  {% comment %}
                  <p>{{ product.description }}</p>
                  {% endcomment %}
                  <h5 class="text-warning"><b>Price:</b> {{ product.price }}</h5>
                  <a href="/products/{{ product.id }}"><button class="btn btn-primary">Buy</button></a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>Not Found!</p>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
