<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- payment_form.html -->
<script src="https://js.stripe.com/v3/"></script>

<form id="payment_form" style="height:500PX; width: 500px; margin: 0 auto;">
    <input type="text" id="card-holder-name" placeholder="Cardholder Name">
    <div id="card-element"></div>
    <button id="payment-button">Pay</button>
</form>

<script>
    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    var form = document.getElementById('payment_form');


    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
            billing_details: {
                name: document.getElementById('card-holder-name').value
            }
        }).then(function(result) {
            if (result.error) {
                console.error(result.error.message);
            } else {
                var paymentMethodId = result.paymentMethod.id;
                var formData = {
                    payment_method_id: paymentMethodId
                };
      
                fetch('/payment/process/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(formData)
                }).then(function(response) {
                    return response.json();
                }).then(function(data) {
                    if (data.success) {
                        console.log('Payment successed:', data.message);
                    } else {
                        console.error('Payment failed:', data.message);
                    }
                })
            }
        })
    })
</script> 
</body>
</html>

